<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors PAge</title>
</head>
<body>
All Authors:
<table border="1px">
    <tr>
        <th>Name:</th>
        <th>Surname:</th>
        <th>Email:</th>
        <th>Gender:</th>
    </tr>
    <tr th:each="author:${allAuthors}">
        <td th:text="${author.name}"></td>
        <td th:text="${author.surname}"></td>
        <td th:text="${author.email}"></td>
        <td th:text="${author.gender}"></td>
        <td><a th:href="@{deleteAuthor(id=${author.id})}">Delete</a></td>
        <td><a th:href="@{getAuthor(id=${author.id})}">Update</a></td>
    </tr>
</table><br><br>
<a href="/">Go Home Page</a>

</body>
</html>